@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "geomanistregular";
  src: url("fonts/geomanist-regular-webfont.ttf") format("truetype");
  src: url("fonts/geomanist-regular-webfont.woff2") format("woff2"),
  url("fonts/geomanist-regular-webfont.woff") format("woff"),
  url("fonts/geomanist-regular-webfont.eot"),
  url("fonts/geomanist-regular-webfont.svg") format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  src: url("fonts/Geomanist-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

* {
  font-family: "geomanistregular", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-secondary-50 {
  background-color: rgb(237, 243, 253);
}

/* .text-secondary-500 {
  background-color: rgb(0, 80, 219);
} */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}
